// importing base mixins
@import "../_baseMixins.scss";

.header{
    background-image: url("../../Assets/nav.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: 0% 65%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    max-height: 2000px;
    background-position-x: center;

    @include laptop-view {
            
        background-attachment: fixed;
    }

    &-details{
        margin-top:20px;
        padding: 10px;
        // background-color: whitesmoke;
        border: grey;
        width: 500px; 
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 4px;
    }

    &-name{
        font-size: 2em;
        font-weight: bold;

        @include tablet-view{
            font-size: 3em;
        }
    }

    &-title{
        font-size: 1em;
        @include tablet-view{
            font-size: 1.5em;
        }
    }
}
